{% extends 'base.html' %}
 {% load bootstrap5 %} {% bootstrap_messages %}



 {% block content %}
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %}

    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4 ">
            <a class="btn btn-primary mb-4" href="{% url 'signin' %}" role="button">signin</a>  
            <div class=" d-flex justify-content-between">
                <h4 class="mb-5 text-primary">REGISTRATION</h4>         
            </div>   
            <form method="POST" action=""> {% csrf_token %}

                {% bootstrap_form form %}
                
                <div class="form-group">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Registration</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}